/*-----------------------------------------------------------
custom css
-----------------------------------------------------------*/
.row {
	margin-top: 3%;
}

.table-responsive {
	margin-top: 5%;
}

.sidebar {
	margin-top: 5%;
}

#profile {
	margin-top: 5%;
}

#interests {
	margin-top: 5%;
}

#contact {
	margin-top: 5%;
}